.faq {
    display:flex;
    margin:0 auto;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    max-width:1080px; 
    &__img {
        display:block;
        margin:2rem auto;
        max-height:25rem;
    }    
   @mixin at700 {
    &__img-div {
        width:80%;
    }

    &__accordion {
        width:80%;
    }       
   } 
    @mixin at940 {
    &__img-div {
        margin:0 auto;        
        width:50%;
    }

    &__accordion {
        width:50%;
    }       
   }  
}
.faq-question {
    color:$blueGrey8;
    cursor: pointer;
    background: $blueGrey3;
    border-radius:.5rem;
    font-size:1.1rem;
    margin: 0 0 .8rem 0;
    padding: 1rem .8rem;
    @mixin at700 {
        font-size:1.4rem;
    }
    
}
.faq-answer {
    display: none;
    margin:0;
    padding:0; 
}
.accordion-content.default {
    display: block;
    margin:0;     
}

.accordion p { 
    font-size:1.2rem;  
    margin:0;
    padding-bottom: .5rem;
}

/* ==============================
faq-2 accordion
============================= */

.faq-2 {
    display:flex;
    margin:0 auto;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    max-width:1080px; 
   @mixin at700 {


    &__accordion {
        width:80%;
    }       
   } 
    @mixin at940 {
    &__img-div {
        margin:0 auto;        
        width:50%;
    }

    &__accordion {
        width:50%;
    }       
   }  
}
.faq2-question {
    border:.04rem solid $blueGrey4;
    color:$blueGrey8;
    cursor: pointer;
    border-radius:.1rem;
    font-size:1.1rem;
    font-weight:300;
    margin: 0 0 .4rem 0;
    padding: 1rem .8rem;
    @mixin at700 {
        font-size:1.4rem;
    }
    
}
.faq2-answer {
    display: none;
    margin:0;
    padding:0; 
}
.accordion-content.default {
    display: block;
    margin:0;     
}

.accordion p { 
    font-size:1.2rem;  
    margin:0;
    padding-bottom: .5rem;
}