.contact-2 {
   display:flex;
    flex-wrap:wrap;
    align-items:top;
    justify-content:space-around;
    text-align:center;
    width:100%;
    h3 {
        border-bottom:solid .1rem #fff;
        margin:0;
    }

        &__address {
            color:#fff;
            font-size:1.2rem;
            width:100%;
            order:1;
            margin-bottom:2rem;
        }
        &__btn {
        color:#fff;
        background:transparent;
        border:0.05rem solid #fff;
        border-radius:2rem;
        padding:1rem;
        }

        &__map {
            width:100%;
            height:400px;
            order:3;
        }

        &__hours {
            color:#fff;            
            font-size:1.2rem;
            width:100%;
            order:2;
        }

    @mixin at620 {
        &__address {
            width:45%;
        }

        &__map {
            width:100%;
        }

        &__hours {
            width:45%;
         
        }

    }    

    @mixin at1100 {
        &__address {
            font-size:1.2rem;
            width:24%;
            order:1;
        }

        &__map {
            width:48%;

            order:2;
            margin:0 1rem;
        }

        &__hours {
            font-size:1.2rem;
            width:24%;
            order:3;
        }
    }

}