/*
A two column flexbox with H3 sub titles
the parent is an article and children are divs
*/
.duos {
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    margin:auto;
    max-width:1280px;
}


.duo {
    padding:1rem;
    width:100%;


    @mixin at700 {
    width:50%;        
}   
        
    &__heading {
        color:$blueGrey6;
        font-size:2rem;
    }
    
}


.duo:first-child{
    background:$orange2;
}

.duo:last-child {
    background:$orange3;
}