.logoWrap {
	
	font-size: 1.4rem;
    font-weight:normal;
    color:#fff;
	float:left;
	position:fixed;
	left:.5rem;
	top: 0;
	padding:.4rem;
	z-index:9;
	max-width:80%;	
	&__logo{
		display:none;
		height:1.8rem;
		@mixin at1020{
			display:block;
		}
		
	}
	&__inner {
		display:flex;
		align-items:center;
	}
	
	
	&__contact {
		color:#fff;
		margin: 0 .5rem;
		@mixin at1020 {
			color:$special;
		}

	}
	@mixin at700 {
		font-size:1.8rem;
	}
	@mixin at1020 {
    color:$blueGrey8;		
	}
	
}
/* a dummy div to give color to mobile background */
.backing {
	background:$special;
	height:4rem;
	width:100%;
	position:fixed;
	
	@mixin at1020 {
		display:none;
	}

}

.navWrap {
	position:fixed;	
	transition:all 0.5s ease-in;
	width:100%;
	max-width:100%;	
    z-index:10;


	@mixin at780 {
        display:block;
        a {
            color:#fff;            
        } 
        &--dark {
            background:#FFF;  
            a {
                color:$blueGrey8;            
            }   
        }
	}
			&__menuIcon {			
                border-radius:.2rem;        
                width:2.4rem;
                border:.05rem solid #fff;
                position:absolute;
                top:.6rem;
                right:.6rem;
			@mixin at1020 {
				display:none;
			}			
        }
        &__icon-bar {
            height: .3rem;
            background-color: #fff;
            margin: .3rem auto;
            width:85%;
            }     
}
.mainNav {
	margin:0;
	width:100%;	
    display:none;
	transition: all .5s ease-out;	

	
	@mixin at1020 {
	display:inline-block;	
	padding-top:.5rem;
	padding-bottom:.5rem;
	}	
		&--visible {
        background:$special;
        color:#fff;
        display:block;
		text-align:right;
		float:right;
		margin:0;
		padding-top:2rem;
		width:100%;
		a {
			color:#fff;
		}
	}

	&__ul {
		float:right;
		list-style:none;
		margin:0 auto;
	}
	&__ul {
		float:left;
		text-align:left;
		padding-top:3rem;
		@mixin at1020 {
			float:right;
			padding-top:0;			
		}
	}
	&__ul >li{
		display:block;
		padding:.5rem .5rem;

		
		@mixin at1020 {
		display:inline-block;

		}		
	}
	a {

		font-size:1.1rem;
		text-decoration:none;		
			&.is-current-link {
			border-bottom:$blueGrey6 solid .3rem;
		}
    }
  
}
.navWrap__liner {
    max-width:1280px;
    margin:0 auto;
}

