.octets {
    max-width:1280px;
    margin:0 auto;
}

.octet {

    &__text{
        background:#fff;
        display:flex;
        align-items:center;
        justify-content:center;
        flex-direction:column;
        padding:0 1rem;
    }
    &__text-top {
        font-weight:bold;
        margin:0;
    }
    &__hr {
    width:50%;
    margin: 1rem auto;
    border: 0;
    height: 4px;
    background-image: linear-gradient(to right, rgba(100, 100, 100, 0), rgba(100, 100, 100, 0.75), rgba(100, 100, 100, 0));
    }    
    &__text-bottom {
    margin:0;        
    }

    
    &__img {
        display:block;
    }
}
@mixin at700 {
    .octets {
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        grid-rows:4;
        grid-gap:1rem;
    }
    
    .octet-1 {
        grid-column:1/2;
        grid-row:1;
    }

    .octet-2 {
        grid-column:1/2;
        grid-row:2;
    }
    
    .octet-3 {
        grid-column:2/3;
        grid-row:1;
    }
    
    .octet-4 {
        grid-column:2/3;
        grid-row:2;
    }    
    
    .octet-5 {
        grid-column:1/2;
        grid-row:4;
    }

    .octet-6 {
        grid-column:1/2;
        grid-row:3;
    }
    
    .octet-7 {
        grid-column:2/3;
        grid-row:4;
    }
    
    .octet-8 {
        grid-column:2/3;
        grid-row:3;
    }     
    
}


@mixin at940 {
    .octets {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-rows:2;
        grid-gap:0;
    }
    
    .octet-1 {
        grid-column:1/2;
        grid-row:1;
    }

    .octet-2 {
        grid-column:2/3;
        grid-row:1;
    }
    
    .octet-3 {
        grid-column:3/4;
        grid-row:1;
    }
    
    .octet-4 {
        grid-column:4/5;
        grid-row:1;
    }    
    
    .octet-5 {
        grid-column:1/2;
        grid-row:2;
    }

    .octet-6 {
        grid-column:2/3;
        grid-row:2;
    }
    
    .octet-7 {
        grid-column:3/4;
        grid-row:2;
    }
    
    .octet-8 {
        grid-column:4/5;
        grid-row:2;
    }     
    
}