.quads {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    max-width:1280px;
    margin:auto;
}

.quad {
    display:flex;
    flex-wrap:wrap;
    align-items:flex-start;
    padding:1rem;
    margin-bottom:1.5rem;
    width:100%;
    background:rgb(255,255,255);


    
    &__img {
        display:block;
        margin:auto;
    }
    
    &__text-heading {
        border-bottom:.1rem solid $blueGrey7;
        color:$blueGrey7;
        font-weight:300;
        font-size:2rem;
        margin:0;
    }
    
    @mixin at700 {
        width:48%;
    }
    
    @mixin at1020 {
        flex-wrap:nowrap;
        align-items:flex-start;
        
        &__img {
            padding:0 1rem 0 0;
            max-width:260px;
        }
    }
    
}