
.section {
    padding:4rem 1rem 4rem;
            @mixin at1020 {
            padding: 2rem 0 4rem;
            font-size: 4rem;
        }
    
    &__title {
        color:$blueGrey7;
        font-family: 'Raleway', sans-serif; 
        font-weight:200;
        text-align:center;
        margin-bottom:0;
        @mixin at700 {
            font-size:3rem;
        }
    }

    &__tagline {
        font-family: 'Bad Script', cursive;
        text-align:center;
        font-size:1.7rem;
        margin-top:0;
    }
    &__description {
        font-family:'Times New Roman';
        max-width:600px;
        margin:2rem auto 4rem;
        text-align:center;
    }

    &__hr {
    max-width:18rem;
    margin: 1rem auto;
    border: 0;
    height: 4px;
    background-image: linear-gradient(to right, rgba(7, 101, 133, 0), rgba(7, 101, 133, 0.75), rgba(7, 101, 133, 0));
    } 
    
    &__logo {
        height:1.4rem;
       transform:rotate(-10deg);
        opacity:.5;        
        @mixin at700 {
            height:2rem;            
        }
    }
}

.section-home {
    padding:0;
}

.section-top {
    width:100%;
    /*min-height:60%;*/
    padding-bottom:0;
    display:flex;
    align-items:flex-end;
}


.section-top-2 {
    background: #E6DADA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #274046, #E6DADA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #274046, #E6DADA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.section-1 {
    background:#fff;
}

.section-2 {
background:rgb(240,240,240);
    
}

.section-3 {
    background:#fff;
    }

.section-4 {
background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
    &__header {
        margin-bottom:2rem;
    }

}




