.services {
    display:flex;
    max-width:1280px;
    justify-content:space-between;
    flex-wrap:wrap;
    margin:0 auto;
    
}
.service {
     padding:1rem;
     &__icon {
         border:.03rem solid;
         border-radius:50%;
         color:$blueGrey6;
         font-size:3rem;
         margin:0;
         padding:.5rem;
     }
     
     &__title{
         color:$blueGrey6;         
         font-size:1.6rem;
         margin:0;
     }
     &__biline {
         margin:0;
     }
     &__body {
         color:rgb(120,120,120);
         margin:0;
     }

     @mixin at620 {
       width:45%;  
     }
     @mixin at940 {
         width:24%;
     }
}