.sixes{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    max-width:1280px;
    margin:0 auto;
}
.six {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    width:3100%;

    color:#fff;
    text-align:center;
    @mixin at700 {
        width:45%;
    }
    
    @mixin at940 {
    width:33.33%;        
    } 
    
    &__heading {
    font-size:1.8rem;
    margin:1.5rem 0 0 0;
    @mixin at700 {
        margin:0;
    }
    }
    &__biline {
        font-size:1.1rem;
        margin:0 0 1.5rem 0;
    @mixin at700 {
        margin:0;
    }        
    }
    &__hr {
    width:50%;
    margin: 1rem auto;
    border: 0;
    height: 4px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    }

    &__img {
        width:100%;
        margin:0;
        padding:0;
        display:block;
    }
}
.six-2 {
    background:orange;
}
.six-4 {
    background:#76FF03;
}
.six-6 {
    background:#18FFFF;
}