.twins{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    max-width:1280px;
    margin:0 auto;
    
}

.twin {
    width:100%;
    @mixin at780 {
    width:50%;        
    }

    
    &__title {
        font-family: 'Raleway', sans-serif;        
        font-size:2rem;
        font-weight:200;
        text-align:left;
    }
    &__span {
        color:$blueGrey7;
        font-weight:bold;
    }
    
    &__img {
        display:block;
        max-width:20rem;
        margin:0 auto;
    }
}