/*
font-family: 'Raleway', sans-serif;
font-family: 'Nova Script', cursive;
font-family: 'Bad Script', cursive;
font-family: 'Kaushan Script', cursive;
*/
*{
    box-sizing: border-box;
}
html {
    height:100%;
}
body {
    /*background-image: url('../../assets/img/design.jpg');   */
    background: #076585;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fff, #076585);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fff, #076585); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /*background-size:cover;*/
    /*background-repeat: no-repeat; */
/*background-attachment: fixed;*/
    height:100%;
    font-family: 'Roboto', sans-serif;
    color:#333;
}
p {
    font-size:1rem;
    line-height:150%;
}

img {
    display:block;
    max-width:100%;
    height:auto;
}
button:focus {
    outline:0;
}
