/*
font-family: 'Raleway', sans-serif;
font-family: 'Nova Script', cursive;
font-family: 'Bad Script', cursive;
font-family: 'Kaushan Script', cursive;
*/
*{
    box-sizing: border-box;
}
html {
    height:100%;
}
body {
    background-image: url('../../assets/img/nature.jpg');
    background-size:cover;
    background-repeat: no-repeat; 
background-attachment: fixed;
    height:100%;
    font-family: 'Roboto', sans-serif;
    color:#333;
}
p {
    font-size:1.1rem;
    line-height:150%;
}

img {
    display:block;
    max-width:100%;
    height:auto;
}
button:focus {
    outline:0;
}
