$orange1:#FFF3E0;
$orange2:#FFE0B2;
$orange3:#FFCC80;
$orange4:#FFB74D;
$orange5:#FFA726;
$orange6:#FF9800;
$orange7:#FB8C00;
$orange8:#F57C00;
$orange9:#EF6C00;
$orange10:#E65100;

$blueGrey1:#ECEFF1;
$blueGrey2:#CFD8DC;
$blueGrey3:#B0BEC5;
$blueGrey4:#90A4AE;	
$blueGrey5:#78909C;	
$blueGrey6:#607D8B;	
$blueGrey7:#546E7A;	
$blueGrey8:#455A64;
$blueGrey9:#37474F;	
$blueGrey10:#263238;

$greyScale:#000;